body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white
}
.title {
    font-size: 50px;
    text-align: center;
    margin-top: 20%;
}
.hide {
    text-align: center;
}
.actualname {
    color: white;
    text-align: center;
    display: none;
}
.nextname {
    margin: 0;    
    position: absolute;
    top: 57%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70px;
    height: 30px;
    display: none;
}